<template name="register">
    <div id="registerContainer">
        <!-- 注册表单区域 -->
        <div class='registFormArea'>
         		<!-- <div class='commonInput longInput'>
         			  <input type='text' class="username infoInput" placeholder='用户名'/>
         		</div>
         		<div class='commonInput longInput'>
         			  <input type='password' class="password infoInput" placeholder='密码'/>
         		</div>
         		<div class='commonInput longInput'>
         			  <input type='password' class="makeSure infoInput" placeholder='确认密码'/>
         		</div> -->
         		<div class='commonInput longInput'>
         			  <input type='text' class="tel infoInput" placeholder='手机号码'/>
         		</div>
         		<div class='commonInput shortInput'>
         			  <input type='text' class="authCode infoInput" placeholder='手机验证码'/>
         			  <button class="sendCode">发送验证码</button>
                <div class="clear"></div>
 		        </div>
        </div>
        <!-- 操作按钮组 -->
        <div class="operationBtn">
            <div class="submitBtn commonBtn">
                <span>注册</span>
            </div>
            <div class="cancle commonBtn">
                <span>取消</span>
            </div>
        </div>
    </div>
</template>