<Template name="editAddress">
    <div class="contractDetails addAddress"  id="editAddress">
        <div class="withdraw" id="editAddressReturn">我的收货地址</div>
        <div class="supplement">
            <form id="supplementForm">
                <input type="text" name="name" placeholder="收货人">
                <input type="text" name="phone" placeholder="联系电话">
                <input type="text" name="area" placeholder="省市区">
                <textarea name="address" placeholder="详细地址"></textarea>
            </form>
        </div>     
        <div class="action">
            <button type="button" class="button primary save">保存</button>
            <button type="button" class="button default delete">删除</button>
        </div>  
    </div>
</Template>