<template name="purchaseContract">
    <style>
    /* By Isidore */
    
    body {
        background: none;
    }
    
    .contractDetails .supplement input {
        color: #000;
    }
    
    .contractDetails .supplement input::-webkit-input-placeholder {
        color: #999999;
    }
    
    .contractDetails .supplement input:-moz-placeholder {
        color: #999999;
    }
    
    .contractDetails .supplement input::-moz-placeholder {
        color: #999999;
    }
    
    .contractDetails .supplement input:-ms-input-placeholder {
        color: #999999;
    }
    </style>
    <div class="contractDetails">
        <div class="withdraw"><span class="title">合同:</span><span class="number createContractId"></span></div>
        <div class="pactTitle">购销合同</div>
        <div class="contractInfo">
            <div class="seller"><span class="Sell">卖方:</span><span class="company">深圳市迅创为科技有限公司</span></div>
            <div class="buyer"><span class="client">买方:</span><span class="patron"></span></div>
            <div class="contractNo"><span class="compact">合同编号:</span><span class="covenant createContractId"></span></div>
            <div class="counterpart"><span class="party">对方编号:</span><span class="number"></span></div>
            <div class="signedAt"><span class="arrange">签定地点:</span><span class="location">深圳</span></div>
            <div class="signTime"><span class="signingTime">签定时间:</span><span class="signingWhile"></span></div>
        </div>
        <div class="product">一.产品名称、规格型号、数量、金额备注及说明</div>
        <div class="stuff">
            {{#each goodsList.product}}
            <div class="merchandise">
                <!-- <img class="production" src="{{picUrl}}" /> -->
                <div class="productInfo">
                    <div class="modelAndUnitPrice">
                        <span class="model">{{productName}}</span>
                        <div class="unitPrice">&yen;<span class="price">{{finalPrice}}</span>&nbsp;<span class="quantity">×{{num}}</span></div>
                        <div class="clear"></div>
                    </div>
                    <div class="formatAndFirm">
                        <span class="format">规格型号：{{specification}}</span>
                        <span class="firm">品牌：{{brand}}</span>
                    </div>
                    {{#if specialDesc}}
                    <span class="remark">备注：{{specialDesc}}</span> {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
        <div class="express">物流信息:aaaaaaaaa</div>
        <div class="total">合计人民币金额（含17%增税金额):</div>
        <div class="money"><span class="oldWriting">{{amountCn goodsList.totalPrice}}</span>(&yen;<span class="arab">{{goodsList.totalPrice}}</span>)</div>
        <div class="explanation">
            <h1 class="explanationText">说明<span class="close"></span></h1>
            <div class="clear"></div>
            <div class="explanationDetailText">
                <div class="second">二.质量要求技术标准，供方对质量负责的条件和期限:按厂家样本提供的技术规范和要求。</div>
                <div>三.交（提）货地点,方式:<span>\</span></div>
                <div>四.运输方式及到达站港和费用负担:快递</div>
                <div>五.保险：<span>\</span></div>
                <div>六.包装标准，包装物的供应与回收:厂家原包装。</div>
                <div>七.验收标准、方法：按厂家样本提供的标准验收。</div>
                <div>八.结算方式及期限：款到发货。</div>
                <div>九.验收及提出异议的时间和异议处理方法。</div>
                <div>十.解决合同纠纷的方式:向深圳市宝安区人民法院起诉。</div>
                <div>十一.合同未尽事宜双协商解决。</div>
                <div>十二.本合同自双方代表签字加盖公章或合同专用章之日起生效，如通过传真方式订立合同的，签字盖章后的传真件具有同等法律效力。</div>
            </div>
        </div>
        <div class="sellerInfo">
            <h3>卖方<span class="close"></span></h3>
            <div class="sellerInfoDetail">
                <div class="name"><span>单位名称</span><span>深圳市迅创为科技有限公司</span></div>
                <div class="address"><span>单位地址</span><span>深圳市宝安区西乡流塘工业大道第十八栋5楼A-522</span></div>
                <div class="agent"><span>委托代理人:</span><span>N/A</span></div>
                <div class="phone"><span>电&nbsp;&nbsp;&nbsp;&nbsp;话:</span><span class="">0755-61177550</span></div>
                <div class="fax"><span>传&nbsp;&nbsp;&nbsp;&nbsp;真:</span><span class="">0755-61177551</span></div>
                <div class="tax"><span>税&nbsp;&nbsp;&nbsp;&nbsp;号: </span><span class="">440300594328475</span></div>
                <div class="bank"><span>开户银行:</span><span>建设银行深圳宝安支行</span></div>
                <div class="account"><span>帐&nbsp;&nbsp;&nbsp;&nbsp;号:</span><span>44201538900052523702</span></div>
            </div>
        </div>
        <div class="replenish">补充买方信息</div>
        <div class="supplement">
            <form id="supplementForm">
                <input type="text" name="name" class="unit" placeholder="单位名称" value="{{formInfo.companyName}}">
                <input type="text" name="address" class="address" placeholder="单位地址" value="{{formInfo.companyAddress}}">
                <input type="text" name="agent" class="agent" placeholder="委托代理人" value="{{formInfo.agent}}">
                <input type="text" name="phone" class="phone" placeholder="电话" value="{{formInfo.phone}}">
                <input type="text" name="fax" class="fax" placeholder="传真" value="{{formInfo.fax}}">
                <input type="text" name="taxId" class="tax" placeholder="税号" value="{{formInfo.taxId}}">
                <input type="text" name="accountPlace" class="bank" placeholder="开户银行" value="{{formInfo.accountPlace}}">
                <input type="text" name="account" class="account" placeholder="帐号" value="{{formInfo.accountNo}}">
            </form>
        </div>
        <div class="deliveryInfo">
            {{#if currentAddress}}
            <div class="user"><span class="name">{{currentAddress.name}}</span><span class="phone">{{currentAddress.phone}}</span></div>
            <div class="address">{{currentAddress.address}}</div>
            {{/if}}
            <div class="receipt">选择收货地址</div>
        </div>
        <div class="provision"><img class="electoral" src="/purchaseContract/elect2.png" /><span class="read">我已经认真阅读<a id="memberDescription">会员说明</a>，并同意遵守条款。</span></div>
        <div class="agreeParent">
            <div class="agree">同意合同</div>
        </div>
        <div class="memberDescContainer">
            <div class="successAlert">
                <div class="innerArea">
                    <div class="button">Ｘ</div>
                    <div class="memberText">
                        <a>会员说明</a>
                        <p>注册会员、未通过审核的会员不显示价格，只显示库存数量；</p>
                        <p>通过审核的普通会员，由后台确定是否显示价格，如果显示价格，则显示区间价格；</p>
                        <p>vip会员可以显示每个型号的库存数量和价格。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="purchaseAlertContainer">
            <div class="successAlert">
                <div class="innerArea">
                    <p><img src="/makeSure.png" alt="购物车按钮"></p>
                    <p>您的合同已生成，若想了解具体价格和付款方式，请联系客服</p>
                    <div class="alertOperationBtn operationBtn">
                        <button id="purchaseAlertCancle">取消</button>
                        <button class="redBtn" id="purchaseAlertSave">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui_dialog_alert">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd">
                <strong class="weui_dialog_title"></strong>
            </div>
            <div class="weui_dialog_bd"></div>
            <div class="weui_dialog_ft">
                <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
            </div>
        </div>
    </div>
</template>
