<template name='myUploading'>
	<div id="myUploadingContainer">
		<!-- 上传按钮 -->
		<div class="uploadingBtnArea">
			<div class="redBtn">
				<button class="submitUploading">我的上传</button>
			</div>
		</div>
		<div class="situation">
		<a></a>
		<div class="right"><span class="passSituation"></span>/<span class="allCount"></span></div>
		<div class="clear"></div>
		</div>

		<!-- 上传作品展示 -->
		<div class="productsContainer">
			<div class="productions">
			</div>
		</div>

		<!-- 上传作品区域 -->
		<div class="uploadingNowContainer">
			<div class="uploadingNowBtn">
				<button class="addMyProdece"><span>+</span> 上传产品</button>
			</div>
		</div>
	</div>
</template>
