<template name="noticeDetails">
    <div id="noticeDetailContainer">
        <!-- 返回按钮 -->
        <div class="redBtnArea">
            <div class="redBtn">
            <button class="redBtnSubmit"><p id="noticeTitleName">公告详情</p></button>
            </div>
        </div>
        <!-- <div class="adsImg">
            <img src="/home/ads.png">
        </div> -->
        <div class="noticeText">
            <a></a>
            <p class="date"></p>
            <p class="content">
                
            </p>
            <div class="emptyDiv"></div>
        </div>
    </div>
</template>
